In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('direct_email_marketing_database.csv')
data.shape

(38143, 46)

In [3]:
pd.set_option('display.max_columns', None)
data.head()

,upgrade_price,age,n_purchase,discount_purchase,n_reward,n_first_class,n_second_class,n_third_class,n_fourth_class,avg_npassengers,avg_price,sdt_dev_price,avg_distance,sdt_dev_distance,since_last_purchase,n_sent_reminder,n_open_reminder,avg_opens_reminder,n_click_reminder,avg_clicks_reminder,n_sent_upgrade,n_open_upgrade,avg_opens_upgrade,n_click_upgrade,avg_clicks_upgrade,n_sent_discount,n_open_discount,avg_opens_discount,n_click_discount,avg_clicks_discount,price,days_2_trip,is_second_class,distance,n_sessions,n_bounces,n_hits,total_session_duration,total_revenue,conversions,n_search,n_path,avg_hits,avg_session_duration,avg_revenue,success
0,8,54.235729,14,14,0,0,11,3,0,1.0,42.992857,7.797284,565.9,0.0,74.289514,0,0,0.0,0,0.0,0,0,0.0,0,0.0,0,0,0.0,0,0.0,35.9,3,True,565.9,15,0,705,1681048,771700000,19,13,3,47.000000,112069.866667,5.144667e+07,False
1,8,54.235729,14,0,0,0,0,0,0,1.0,42.992857,7.797284,565.9,0.0,90.289907,0,0,0.0,0,0.0,2,0,0.0,0,0.0,0,0,0.0,0,0.0,35.9,3,True,565.9,22,1,788,1704103,771700000,19,21,3,35.818182,77459.227273,3.507727e+07,False
2,8,37.901482,3,3,0,0,3,0,0,1.0,31.400000,4.500000,565.9,0.0,27.699803,0,0,0.0,0,0.0,0,0,0.0,0,0.0,1,1,7.0,0,0.0,35.9,3,True,565.9,0,0,0,0,0,0,0,0,NaN,NaN,NaN,False
3,8,37.901482,3,0,0,0,0,0,0,1.0,31.400000,4.500000,565.9,0.0,41.699931,0,0,0.0,0,0.0,1,0,0.0,0,0.0,1,1,7.0,0,0.0,26.9,3,True,565.9,0,0,0,0,0,0,0,0,NaN,NaN,NaN,False
4,8,64.794633,4,1,0,0,2,0,0,1.0,34.600000,10.364362,565.9,0.0,32.797454,1,0,0.0,0,0.0,0,0,0.0,0,0.0,5,4,3.4,3,2.4,49.9,3,True,565.9,66,32,466,163290,123200000,2,0,0,7.060606,2474.090909,1.866667e+06,False

In [4]:
round(data.isna().sum()/len(data),4)*100

upgrade_price              0.00
age                        0.00
n_purchase                 0.00
discount_purchase          0.00
n_reward                   0.00
n_first_class              0.00
n_second_class             0.00
n_third_class              0.00
n_fourth_class             0.00
avg_npassengers            0.00
avg_price                  0.00
sdt_dev_price              1.92
avg_distance               0.00
sdt_dev_distance           1.92
since_last_purchase        0.00
n_sent_reminder            0.00
n_open_reminder            0.00
avg_opens_reminder         0.00
n_click_reminder           0.00
avg_clicks_reminder        0.00
n_sent_upgrade             0.00
n_open_upgrade             0.00
avg_opens_upgrade          0.00
n_click_upgrade            0.00
avg_clicks_upgrade         0.00
n_sent_discount            0.00
n_open_discount            0.00
avg_opens_discount         0.00
n_click_discount           0.00
avg_clicks_discount        0.00
price                      0.00
days_2_trip                0.00
is_second_class            0.00
distance                   0.00
n_sessions                 0.00
n_bounces                  0.00
n_hits                     0.00
total_session_duration     0.00
total_revenue              0.00
conversions                0.00
n_search                   0.00
n_path                     0.00
avg_hits                  19.58
avg_session_duration      19.58
avg_revenue               19.58
success                    0.00
dtype: float64

In [5]:
data.dtypes

upgrade_price               int64
age                       float64
n_purchase                  int64
discount_purchase           int64
n_reward                    int64
n_first_class               int64
n_second_class              int64
n_third_class               int64
n_fourth_class              int64
avg_npassengers           float64
avg_price                 float64
sdt_dev_price             float64
avg_distance              float64
sdt_dev_distance          float64
since_last_purchase       float64
n_sent_reminder             int64
n_open_reminder             int64
avg_opens_reminder        float64
n_click_reminder            int64
avg_clicks_reminder       float64
n_sent_upgrade              int64
n_open_upgrade              int64
avg_opens_upgrade         float64
n_click_upgrade             int64
avg_clicks_upgrade        float64
n_sent_discount             int64
n_open_discount             int64
avg_opens_discount        float64
n_click_discount            int64
avg_clicks_discount       float64
price                     float64
days_2_trip                 int64
is_second_class              bool
distance                  float64
n_sessions                  int64
n_bounces                   int64
n_hits                      int64
total_session_duration      int64
total_revenue               int64
conversions                 int64
n_search                    int64
n_path                      int64
avg_hits                  float64
avg_session_duration      float64
avg_revenue               float64
success                      bool
dtype: object

In [6]:
data['upgrade_price'].value_counts(normalize = True)*100

8    90.241984
4     9.758016
Name: upgrade_price, dtype: float64

In [7]:
nunique = data.apply(pd.Series.nunique)
nunique

upgrade_price                 2
age                       10352
n_purchase                   91
discount_purchase            49
n_reward                     13
n_first_class                29
n_second_class               59
n_third_class                15
n_fourth_class               10
avg_npassengers             474
avg_price                  7620
sdt_dev_price             12471
avg_distance               5439
sdt_dev_distance           5384
since_last_purchase       19574
n_sent_reminder              12
n_open_reminder               9
avg_opens_reminder           57
n_click_reminder              7
avg_clicks_reminder          28
n_sent_upgrade                8
n_open_upgrade                7
avg_opens_upgrade            59
n_click_upgrade               6
avg_clicks_upgrade           21
n_sent_discount              21
n_open_discount              18
avg_opens_discount          422
n_click_discount             12
avg_clicks_discount         174
price                       307
days_2_trip                   3
is_second_class               2
distance                     37
n_sessions                  363
n_bounces                   161
n_hits                     2355
total_session_duration    14942
total_revenue              5969
conversions                  99
n_search                    192
n_path                       51
avg_hits                   6306
avg_session_duration      14799
avg_revenue                9127
success                       2
dtype: int64

In [8]:
data.head()

,upgrade_price,age,n_purchase,discount_purchase,n_reward,n_first_class,n_second_class,n_third_class,n_fourth_class,avg_npassengers,avg_price,sdt_dev_price,avg_distance,sdt_dev_distance,since_last_purchase,n_sent_reminder,n_open_reminder,avg_opens_reminder,n_click_reminder,avg_clicks_reminder,n_sent_upgrade,n_open_upgrade,avg_opens_upgrade,n_click_upgrade,avg_clicks_upgrade,n_sent_discount,n_open_discount,avg_opens_discount,n_click_discount,avg_clicks_discount,price,days_2_trip,is_second_class,distance,n_sessions,n_bounces,n_hits,total_session_duration,total_revenue,conversions,n_search,n_path,avg_hits,avg_session_duration,avg_revenue,success
0,8,54.235729,14,14,0,0,11,3,0,1.0,42.992857,7.797284,565.9,0.0,74.289514,0,0,0.0,0,0.0,0,0,0.0,0,0.0,0,0,0.0,0,0.0,35.9,3,True,565.9,15,0,705,1681048,771700000,19,13,3,47.000000,112069.866667,5.144667e+07,False
1,8,54.235729,14,0,0,0,0,0,0,1.0,42.992857,7.797284,565.9,0.0,90.289907,0,0,0.0,0,0.0,2,0,0.0,0,0.0,0,0,0.0,0,0.0,35.9,3,True,565.9,22,1,788,1704103,771700000,19,21,3,35.818182,77459.227273,3.507727e+07,False
2,8,37.901482,3,3,0,0,3,0,0,1.0,31.400000,4.500000,565.9,0.0,27.699803,0,0,0.0,0,0.0,0,0,0.0,0,0.0,1,1,7.0,0,0.0,35.9,3,True,565.9,0,0,0,0,0,0,0,0,NaN,NaN,NaN,False
3,8,37.901482,3,0,0,0,0,0,0,1.0,31.400000,4.500000,565.9,0.0,41.699931,0,0,0.0,0,0.0,1,0,0.0,0,0.0,1,1,7.0,0,0.0,26.9,3,True,565.9,0,0,0,0,0,0,0,0,NaN,NaN,NaN,False
4,8,64.794633,4,1,0,0,2,0,0,1.0,34.600000,10.364362,565.9,0.0,32.797454,1,0,0.0,0,0.0,0,0,0.0,0,0.0,5,4,3.4,3,2.4,49.9,3,True,565.9,66,32,466,163290,123200000,2,0,0,7.060606,2474.090909,1.866667e+06,False

In [17]:
newdf=data.copy()
for column in newdf.columns: 
    if newdf[column].nunique() >= 15: 
        newdf=newdf.drop(column, axis=1) 
newdf

,upgrade_price,n_reward,n_fourth_class,n_sent_reminder,n_open_reminder,n_click_reminder,n_sent_upgrade,n_open_upgrade,n_click_upgrade,n_click_discount,days_2_trip,is_second_class,success
0,8,0,0,0,0,0,0,0,0,0,3,True,False
1,8,0,0,0,0,0,2,0,0,0,3,True,False
2,8,0,0,0,0,0,0,0,0,0,3,True,False
3,8,0,0,0,0,0,1,0,0,0,3,True,False
4,8,0,0,1,0,0,0,0,0,3,3,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
38138,8,0,0,0,0,0,0,0,0,0,2,True,False
38139,8,0,0,0,0,0,0,0,0,0,2,True,False
38140,8,0,0,0,0,0,0,0,0,0,2,True,False
38141,8,0,0,0,0,0,0,0,0,0,2,True,False
38142,8,0,0,1,0,0,0,0,0,0,1,True,False

In [27]:
value_counts = newdf.apply(pd.Series.value_counts)
value_counts

,upgrade_price,n_reward,n_fourth_class,n_sent_reminder,n_open_reminder,n_click_reminder,n_sent_upgrade,n_open_upgrade,n_click_upgrade,n_click_discount,days_2_trip,is_second_class,success
0,NaN,33956.0,37798.0,31027.0,33465.0,36664.0,33235.0,35157.0,37576.0,28683.0,NaN,1240.0,36246.0
False,NaN,33956.0,37798.0,31027.0,33465.0,36664.0,33235.0,35157.0,37576.0,28683.0,NaN,1240.0,36246.0
1,NaN,3342.0,301.0,5517.0,3762.0,1368.0,3551.0,2268.0,516.0,5770.0,1535.0,36903.0,1897.0
True,NaN,3342.0,301.0,5517.0,3762.0,1368.0,3551.0,2268.0,516.0,5770.0,1535.0,36903.0,1897.0
2,NaN,529.0,25.0,1139.0,706.0,96.0,872.0,502.0,37.0,2181.0,13500.0,NaN,NaN
3,NaN,167.0,1.0,285.0,158.0,12.0,309.0,146.0,7.0,879.0,23108.0,NaN,NaN
4,3722.0,75.0,3.0,117.0,30.0,1.0,120.0,52.0,5.0,350.0,NaN,NaN,NaN
5,NaN,42.0,1.0,38.0,10.0,1.0,44.0,14.0,2.0,149.0,NaN,NaN,NaN
6,NaN,10.0,8.0,9.0,5.0,1.0,10.0,4.0,NaN,78.0,NaN,NaN,NaN
7,NaN,15.0,NaN,2.0,3.0,NaN,2.0,NaN,NaN,30.0,NaN,NaN,NaN
8,34421.0,2.0,1.0,3.0,NaN,NaN,NaN,NaN,NaN,12.0,NaN,NaN,NaN
9,NaN,1.0,1.0,4.0,4.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN
10,NaN,1.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN
11,NaN,1.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN
18,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
data['reminder_open_rate'] = round(data.n_open_reminder/data.n_sent_reminder*100,2)

,upgrade_price,age,n_purchase,discount_purchase,n_reward,n_first_class,n_second_class,n_third_class,n_fourth_class,avg_npassengers,avg_price,sdt_dev_price,avg_distance,sdt_dev_distance,since_last_purchase,n_sent_reminder,n_open_reminder,avg_opens_reminder,n_click_reminder,avg_clicks_reminder,n_sent_upgrade,n_open_upgrade,avg_opens_upgrade,n_click_upgrade,avg_clicks_upgrade,n_sent_discount,n_open_discount,avg_opens_discount,n_click_discount,avg_clicks_discount,price,days_2_trip,is_second_class,distance,n_sessions,n_bounces,n_hits,total_session_duration,total_revenue,conversions,n_search,n_path,avg_hits,avg_session_duration,avg_revenue,success,reminder_open_rate
0,8,54.235729,14,14,0,0,11,3,0,1.0,42.992857,7.797284,565.9,0.0,74.289514,0,0,0.0,0,0.0,0,0,0.0,0,0.0,0,0,0.0,0,0.0,35.9,3,True,565.9,15,0,705,1681048,771700000,19,13,3,47.000000,112069.866667,5.144667e+07,False,NaN
1,8,54.235729,14,0,0,0,0,0,0,1.0,42.992857,7.797284,565.9,0.0,90.289907,0,0,0.0,0,0.0,2,0,0.0,0,0.0,0,0,0.0,0,0.0,35.9,3,True,565.9,22,1,788,1704103,771700000,19,21,3,35.818182,77459.227273,3.507727e+07,False,NaN
2,8,37.901482,3,3,0,0,3,0,0,1.0,31.400000,4.500000,565.9,0.0,27.699803,0,0,0.0,0,0.0,0,0,0.0,0,0.0,1,1,7.0,0,0.0,35.9,3,True,565.9,0,0,0,0,0,0,0,0,NaN,NaN,NaN,False,NaN
3,8,37.901482,3,0,0,0,0,0,0,1.0,31.400000,4.500000,565.9,0.0,41.699931,0,0,0.0,0,0.0,1,0,0.0,0,0.0,1,1,7.0,0,0.0,26.9,3,True,565.9,0,0,0,0,0,0,0,0,NaN,NaN,NaN,False,NaN
4,8,64.794633,4,1,0,0,2,0,0,1.0,34.600000,10.364362,565.9,0.0,32.797454,1,0,0.0,0,0.0,0,0,0.0,0,0.0,5,4,3.4,3,2.4,49.9,3,True,565.9,66,32,466,163290,123200000,2,0,0,7.060606,2474.090909,1.866667e+06,False,0.0

In [42]:
data['upgrade_open_rate'] = round(data.n_open_upgrade/data.n_sent_upgrade*100,2)

In [44]:
data['discount_open_rate'] = round(data.n_open_discount/data.n_sent_discount*100,2)

In [48]:
data['price_distance'] = data.price/data.distance

In [51]:
data['price_distance'].value_counts(normalize = True)

0.047535    0.228141
0.037997    0.068505
0.047010    0.039771
0.044386    0.037674
0.088178    0.033007
              ...
0.151398    0.000026
0.142410    0.000026
0.033577    0.000026
0.151226    0.000026
0.114685    0.000026
Name: price_distance, Length: 713, dtype: float64

In [54]:
correlation_price_dist = data['avg_price'].corr(data['avg_distance'])
correlation_price_dist

0.5149856882688499